* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  position: absolute;
}

.hud {
  width: 100%;
  padding: 10px;
  height: 70px;
  font-size: 16px;
  border: 1px solid #232323;
}

.hud p {
  font-weight: bold;
}

.hud span {
  font-weight: normal;
}

.cielo {
  position: fixed;
  background-image: url(https://s-media-cache-ak0.pinimg.com/originals/4b/2d/4d/4b2d4d44e703c18bd3774553c98c0340.png);
  animation: 30s scroll infinite linear;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@keyframes scroll {
  100% {
    background-position: -3000px 0px;
  }
}

.avion {
  position: absolute;
  height: 70px;
  top: 70px;
  left: 50px;
  transform: scaleX(-1);
}

.pajaro1,
.pajaro2,
.pajaro3,
.pajaro4,
.dark-plane {
  transform: scaleX(-1);
  height: 70px;
  width: 70px;
  top: 50px;
  left: 102%;
  background: url('../img/pajaro1/pajaro1.gif') left center no-repeat;
  background-size: 70px;
  animation: mover 4s linear;
}

.dark-plane {
  animation: mover 4s ease-in;
  transform: scaleX(1);
  background: url('../img/dark-plane.png') left center no-repeat;
  left: 102%;
  background-size: 150px;
  height: 70px;
  width: 150px;
}

@keyframes mover {
  100% {
    left: -500px;
  }
}